<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AddressBarMicrosoftSearchInBingProviderEnabled</key>
	<false/>
	<key>AllowGamesMenu</key>
	<false/>
	<key>AlternateErrorPagesEnabled</key>
	<false/>
	<key>ComposeInlineEnabled</key>
	<false/>
	<key>CryptoWalletEnabled</key>
	<false/>
	<key>DefaultBrowserSettingsCampaignEnabled</key>
	<false/>
	<key>DiagnosticData</key>
	<integer>0</integer>
	<key>DiscoverPageContextEnabled</key>
	<false/>
	<key>DNSInterceptionChecksEnabled</key>
	<false/>
	<key>Edge3PSerpTelemetryEnabled</key>
	<false/>
	<key>EdgeCollectionsEnabled</key>
	<false/>
	<key>EdgeEnhanceImagesEnabled</key>
	<false/>
	<key>EdgeFollowEnabled</key>
	<false/>
	<key>EdgeShoppingAssistantEnabled</key>
	<false/>
	<key>EdgeWalletCheckoutEnabled</key>
	<false/>
	<key>EdgeWalletEtreeEnabled</key>
	<false/>
	<key>HideFirstRunExperience</key>
	<true/>
	<key>HubsSidebarEnabled</key>
	<false/>
	<key>MicrosoftEdgeInsiderPromotionEnabled</key>
	<false/>
	<key>NewTabPageBingChatEnabled</key>
	<false/>
	<key>NewTabPageContentEnabled</key>
	<false/>
	<key>NewTabPageHideDefaultTopSites</key>
	<true/>
	<key>PersonalizationReportingEnabled</key>
	<false/>
	<key>PinBrowserEssentialsToolbarButton</key>
	<false/>
	<key>PromotionalTabsEnabled</key>
	<false/>
	<key>QuickSearchShowMiniMenu</key>
	<false/>
	<key>ResolveNavigationErrorsUseWebService</key>
	<false/>
	<key>SearchbarAllowed</key>
	<false/>
	<key>SearchForImageEnabled</key>
	<false/>
	<key>SearchbarIsEnabledOnStartup</key>
	<false/>
	<key>ShowAcrobatSubscriptionButton</key>
	<false/>
	<key>ShowMicrosoftRewards</key>
	<false/>
	<key>ShowPDFDefaultRecommendationsEnabled</key>
	<false/>
	<key>ShowRecommendationsEnabled</key>
	<false/>
	<key>SmartScreenEnabled</key>
	<false/>
	<key>SpotlightExperiencesAndRecommendationsEnabled</key>
	<false/>
	<key>StandaloneHubsSidebarEnabled</key>
	<false/>
	<key>StartupBoostEnabled</key>
	<false/>
	<key>TabServicesEnabled</key>
	<false/>
	<key>VisualSearchEnabled</key>
	<false/>
	<key>WalletDonationEnabled</key>
	<false/>
</dict>
</plist>
